
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video{
  font-family:  微软雅黑,  Arial;
  /* font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif; */
}
* {/*清除页面中标签自带的外间距和内填充*/
  margin: 0;
  padding: 0;
}
ul, li {/*清除ul自带的列表符*/
  list-style: none;
}
a {/*去掉a自带的下划线*/
  text-decoration: none;
}
img {/*去掉img自带的边框<当图像加上a标签后，IE浏览器在不去除图像边框时会显示边框>*/
  border: none;
}

body {
  position: relative;
}